.date-wrapper{
    border:1px solid var(--dark-bg);
    width:300px;
    border-radius:0;
    display:flex;
    padding:8px 16px;
}

.day{
    border:none;
    outline:none;
}
.short-input{
    width:20px;
}
.mm-input{
    width:30px;
}
.long-input{
    width:45px;
}
.short-input,.mm-input,.long-input{
    text-align:center;
}
input[type="text"]{
    font-size:0.8em;
}
.error-msg{
    color: red;
    font-family: var(--font-family);
    font-size:12px;
    margin-top:5px;
    display:none;
}